.cl{
    background-color: #008ece;
}
h5{
    color: #008ece;
}
a{
    text-decoration: none;
    
}
.a1{
    color:black !important; 
}
.adddiv{
 margin-left: 12px;
 width: 98.1%;
}

.btn{
 color: white;
 background-color: #ef5b5d;
 border-radius: 5px;
 border: none;
}